<section id="sermons">
  <div class="container">
    <div class="row">
      <h2>Sermons</h2>
      <h3>Listen to our weekly sermons anywhere!</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aut assumenda est ut facilis ullam optio quibusdam cumque amet ea vel inventore praesentium ex eius, perferendis eveniet iusto repellat. Cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aut assumenda est ut facilis ullam optio quibusdam cumque amet ea vel inventore praesentium ex eius, perferendis eveniet iusto repellat. Cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aut assumenda est ut facilis ullam optio quibusdam cumque amet ea vel inventore praesentium ex eius, perferendis eveniet iusto repellat. Cupiditate!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse aut assumenda est ut facilis ullam optio quibusdam cumque amet ea vel inventore praesentium ex eius, perferendis eveniet iusto repellat. Cupiditate!</p>
    </div>
  </div>
</section>
