<section id="sermons">
  <div class="container">
    <div class="row">
      <h2>Sermons</h2>
      <h3>Listen to our weekly sermons anywhere!</h3>
      <div class="col-md-10 col-md-offset-1">
        <p>To watch our different sermons simply <span>click the play button on the video player</span> and navigate to other videos by clicking in the <span>top left of the video player</span>. We hope the holy spirit speaks to you through our sermons. God bless!</p>
      </div>
      <iframe src="https://www.youtube.com/embed/videoseries?list=PL9K1sELQPJWaygsf4-AzTVD8RdKCq9C6x" frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</section>
